.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.post{
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: 60%;
  box-shadow: 0 0 5px #7f7f7f
}

.postFooter{
  display: flex;
  align-items: center;
  justify-content: space-between
}

.postTitle,
.postBody,
.postFooter{
  width: 100%;
}

.postAuchor,
.postDate{
  width: 50%
}

.postTitle,
.postBody,
.postFooter,
.postAuchor,
.postDate{
  display: flex;
  align-items: center;
  justify-content: center
}

.postBody,
.postTitle{
  margin-bottom: 10px
}